<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- slide trái -->
        <%- include('../../partials/left') %>
            <!-- End slide trái -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Top bar -->
                    <%- include('../../partials/top') %>
                        <!-- End of Top bar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid" style="margin: 20px 0;">
                            <a href="/admin/movies" class="btn btn-success mb-4">Back</a>
                            <h1>
                                <%- movie.name %>
                            </h1>
                            <div>
                                <div class="form-group">
                                    <label for="name">name:</label>
                                    <input type="text" class="form-control" id="editName" value="<%- movie.name %> "
                                        autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="oname">Other name:</label>
                                    <input type="text" class="form-control" id="editOtherName" value="<%- movie.aka %> "
                                        autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="content">Content:</label>
                                    <textarea id="editContent"><%- movie.content %></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="d-flex mb-2">
                                        <label for="thumb">Thumbnail:</label>
                                        <input type="text" class="form-control ml-2" value="<%- movie.thumb %>"
                                            id="editThumb">
                                    </div>
                                    <img src="<%- movie.thumb %>" style="max-width: 300px;">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex mb-2">
                                        <label for="thumb">Background:</label>
                                        <input type="text" class="form-control ml-2" value="<%- movie.background %>"
                                            id="editBackground">
                                    </div>

                                    <img src="<%- movie.background %>" style="max-width: 300px;">
                                </div>
                                <div class="form-group d-flex">
                                    <label for="year" style="line-height: 30px;">Year:</label>
                                    <select id="editYear" class="w-50 form-control ml-2">
                                        <% years.forEach(year=> { %>
                                            <option value="<%- year.id %>" <%- year.id===movie.Year.id ? 'selected' : ''
                                                %> >
                                                <%- year.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="form-group d-flex">
                                    <label for="country" style="line-height: 30px;">Country:</label>
                                    <select id="editCountry" class="w-50 form-control ml-2">
                                        <% countries.forEach(country=> { %>
                                            <option value="<%- country.id %>" <%- country.id===movie.Country.id
                                                ? 'selected' : '' %>>
                                                <%- country.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="form-group d-flex">
                                    <label for="type" style="line-height: 30px;">Type:</label>
                                    <select id="editType" class="w-50 form-control ml-2">
                                        <% types.forEach(type=> { %>
                                            <option value="<%- type.id %>" <%- type.id===movie.Type.id ? 'selected' : ''
                                                %>>
                                                <%- type.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="form-group d-flex">
                                    <label for="status" style="line-height: 30px;">Status:</label>
                                    <select id="editStatus" class="w-50 form-control ml-2">
                                        <% statuses.forEach(status=> { %>
                                            <option value="<%- status.id %>" <%- status.id===movie.Status.id
                                                ? 'selected' : '' %>>
                                                <%- status.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="view">Viewed:</label>
                                    <input type="number" value="<%- movie.viewed %>" class="form-control"
                                        id="editViewed" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="liked">Liked:</label>
                                    <input type="number" value="<%- movie.liked %>" class="form-control" id="editLiked"
                                        autocomplete="off">
                                </div>
                                <input type="hidden" value="<%- movie.id %>" id="idMovie">
                                <button id="updateMovie" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        <!-- -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('../../partials/footer') %>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include('../../partials/bot') %>

</body>

</html>